language: cpp
compiler:
  - gcc
  - clang
os:
  - linux
  - osx
before_script:
  - git clone https://github.com/Itseez/opencv.git
  - cd opencv
  - git checkout 2.4
  - mkdir build
  - cd build
  - cmake ..
script: make && make test